<% layout("layouts/boilerplate") -%>
  </body>
  </html>
    <form action="/campgrounds" method="POST">
      <label for="title">Title</label>
      <input type="text" id="title" name="campground[title]" />
      <label for="location">Location</label>
      <input type="text" id="location" name="campground[location]" />
      <button>Add Campground</button>
    </form>
    <p><a href="/campgrounds">All Campgrounds</a></p>
